<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="APPLICATION_NAME" value="community-master"/>
    <property name="LOG_HOME" value="/opt/app/webapps/community-master/logs"/>
    <property name="PATTERN" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%green(%X{filterRequestId})] ${LOG_LEVEL_PATTERN:-%5p} [%cyan(%class{36})].[%boldMagenta(%M[%L] [%t])] %magenta(%msg%n)"/>
    <property name="FILE_SIZE" value="100MB"/>
    <!-- 读取spring.application.name中的属性来生成日志文件名 -->
    <!--    <springProperty scope="context" name="CONSOLE_PATTERN" source="logging.file.pattern.console"/>-->
    <!--    <springProperty scope="context" name="FILE_PATTERN" source="logging.file.pattern.file"/>-->
    <!--    <springProperty scope="context" name="FILE_SIZE" source="logging.file.max-size"/>-->
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出 -->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 打印请求和返回参数 -->
    <appender name="PARAM_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/${APPLICATION_NAME}/${APPLICATION_NAME}.param.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件最大的大小-->
            <MaxFileSize>${FILE_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出 -->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 打印请求和返回参数 -->
    <appender name="NORMAL_OUTPUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/${APPLICATION_NAME}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志文件最大的大小-->
            <MaxFileSize>${FILE_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出 -->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="life.majiang.community.filter.RequestWrapperFilter" additivity="false">
        <appender-ref ref="PARAM_APPENDER"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="NORMAL_OUTPUT"/>
    </root>
</configuration>